@font-face {
    font-family: 'Manpore';
    src: local('Manpore Medium'), local('ManporeMedium'),
        url('../fonts/medium.woff2') format('woff2'),
        url('../fonts/medium.woff') format('woff'),
        url('../fonts/medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Manpore';
    src: local('Manpore Bold'), local('ManporeBold'),
        url('../fonts/bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Manpore';
    src: local('Manpore Reqular'), local('ManporeReqular'),
        url('../fonts/regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Manpore';
    src: local('Manpore Reqular'), local('ManporeReqular'),
        url('../fonts/thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

