@font-face {
    font-family: 'Manpore';
    src: local('Manpore Medium'), local('ManporeMedium');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Manpore';
    src: local('Manpore Bold'), local('ManporeBold');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Manpore';
    src: local('Manpore Reqular'), local('ManporeReqular');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Manpore';
    src: local('Manpore Reqular'), local('ManporeReqular');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

