// Use flex to keep the footer at the bottom.
body,
[data-apos-refreshable],
.bp-wrapper {
  display: flex;
  flex-direction: column;
}

[data-apos-refreshable],
.bp-wrapper,
main {
  flex-grow: 1;
}

body {
  min-height: 100vh;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

/* public/css/site.css */
.container-table {
  width: 100%;
  overflow-x: auto;
}

.products-4 {
  width: 100%;
  border-collapse: collapse;
}



/* Для WebKit-браузеров (Chrome, Safari и т.д.) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #333;
}

/* Для прокрутки внутри определенного элемента */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #333;
}

.custom-scroll::-webkit-scrollbar {
  width: 12px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #333;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #333;
}


.bp-header,
main,
.bp-footer {
  position: relative;
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

main {
  padding-top: 3rem;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #555;
  font-size: 0.9rem;
}

.author-info {
  display: flex;
  align-items: center;
}

.author-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.author-details {
  margin-left: 10px;
}

.author-details p {
  margin-bottom: 0;
  font-weight: bold;
}

.author-details small {
  color: #777;
}

small {
  color: #aaa;
}

.bp-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding: 40px 0;
}

.bp-footer {
  padding: 40px 0;
}

.bp-footer__links {
  padding-left: 0px;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-right: 20px;
  }
  li:last-child { margin-right: 0; }
}

.bp-header__logo {
  display: block;
  width: 190px;
  max-width: 100%;
  object-fit: contain;
}

.bp-header__login {

  &:visited {
    color: white;
  }
}

.bp-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

@media (max-width: 768px) {
  .bp-content {
    padding: 1rem 1rem;
  }
}

@media (max-width: 1024px) {
  .bp-content {
    padding: 1rem 2rem;
  }
}

.container-table {
  max-height: calc(100vh - 80px);
  overflow: auto;
}

table {
}
th {
  position: sticky;
  z-index: 1;
  top: 0;
}
td,
th {
  padding: 10px;
  min-width: 200px;
  text-align: center;
}
.products-4 th,
.products-4 td {
  width: 25%;
}
th {
  background: #23222d73;
  top: -2px;
}
th img {
  height: 0;
  margin: 0 auto;
  display: block;
  transition: height 200ms ease-in-out;
}
.sticky img {
  height: 100px;
}
.label {
  text-align: left;
  min-width: 150px;
  width: 150px;
  background: #23222d73;
}
th.label {
  background: #23222d73;
}

.heading {
  background: #23222d73;
  width: 100%;
  text-align: left;
  position: relative;
}
.heading span {
  position: sticky;
  top: 0;
  left: 10px;
}
@media all and (max-width: 600px) {
  body {
    padding: 0;
  }
  .label {
  }
}
