@import '../../../asset/ui/src/scss/variables';
@import 'swiper/swiper-bundle.css';
@import 'photoswipe/dist/photoswipe.css';

// Main Swiper Gallery loaded on the page
.image-gallery {
  &__swiper {
    .swiper-wrapper {
      align-items: center;
    }

    .image-gallery__svg {
      min-width: 30%;
      width: auto;
    }

    .swiper-slide {
      display: flex;
      justify-content: center;
    }
  }
}

.image-gallery__swiper .swiper-slide {
  margin-left: 5px;
  @media screen and (max-width:568px) {
    margin-left: 5px;
  }
}

.image-gallery img {
  width: 100%;
  object-fit: cover;
}

.portfolio-details {
  max-width: 285px;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}


// Photoswipe lightbox gallery target - when opened in the modal
.imageGallery--pswp {
  .pswp__zoom-wrap {
    width: 100%;
    height: 100%;
  }
  .pswp__img--placeholder {
    display: none;
  }
  .pswp__img {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    /* height: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
}


@media screen and (max-width:568px) {
  .portfolio-details {
    max-width: 325px;
    width: 100%;
    margin-bottom: 56px;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
