{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% import 'fragments/navigation.html' as navigation %}
{% import 'fragments/feedback.html' as feedback %}

{% set title = data.piece.title or data.page.title %}
{% block title %}
{{ title }}
{% if not title %}
{{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
{% endif %}
{% endblock %}
{% block beforeMain %}
<div class="wrapper">
    <header class="nav" id="headernav">
        {% render navigation.globalNavigation() %}
    </header>
    <main class="main">
      <span class="bg3"></span>
        {# Breadcrumb trail to the current page or piece. Not on the home page#}
        {% if data.page and data.page._ancestors.length %}
        <nav class="breadcrumb">
            {% for page in data.page._ancestors %}
            <a href="{{ page._url }}">{{ page.title }}</a> ->
            {% endfor %}
            {% if data.piece %}
            {# We're rendering a show page. #}
            <a href="{{ data.page._url }}">{{ data.page.title }}</a> ->
            <span>{{ data.piece.title }}</span>
            {% else %}
            {# We're rendering a normal page. #}
            <span>{{ data.page.title }}</span>
            {% endif %}
        </nav>
        {% endif %}
        {% endblock %}
        <div class="container">
            {% block main %}
            {#
            Usually, your page templates in the @apostrophecms/pages module will override
            this block. It is safe to assume this is where your page-specific content
            should go.
            #}
            {% endblock %}
        </div>
        {% block afterMain %}
    </main>
    {% render feedback.feedBack() %}
    <footer>
        <div class="content">
            <div class="top">
                <div class="logo-details">
                    <i class="fab fa-slack"></i>
                    <span class="logo_name">Техно-Агенсио</span>
                </div>
                <div class="media-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="link-boxes">
                <ul class="box">
                    <li class="link_name">Веб-Студия</li>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Написать нам</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Услуги</li>
                    <li><a href="#">Создание сайта</a></li>
                    <li><a href="#">Мобильные приложения</a></li>
                    <li><a href="#">SEO-PBN сетка</a></li>
                    <li><a href="#">Для стартапов</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Сервисы</li>
                    <li><a href="#">CRM система</a></li>
                    <li><a href="#">Тех.поддержка</a></li>
                    <li><a href="#">Защита от DDOS</a></li>
                    <li><a href="#">Аудит безопасности</a></li>
                </ul>
                <ul class="box">
                    <li class="link_name">Сайты</li>
                    <li><a href="#">Интернет-магазин</a></li>
                    <li><a href="#">Отели и гостиницы</a></li>
                    <li><a href="#">Рестораны и кафе</a></li>
                    <li><a href="#">Бизнес порталы</a></li>
                </ul>
                <ul class="box input-box">
                    <li class="link_name">Подпишитесь на обновления</li>
                    <li><input type="text" placeholder="Введите свою почту"></li>
                    <li><input type="button" value="Подписка"></li>
                </ul>
            </div>
        </div>
        <div class="bottom-details">
            <div class="bottom_text">
                <span class="copyright_text">Права защищены © 2024 <a href="#">Техно-Агенсио</a></span>
                <span class="policy_terms">
          <a href="#">Политика конфиденциальности</a>
          <a href="#">Обработка персональных данных</a>
        </span>
            </div>
        </div>
    </footer>
</div>
{# Close .bp-wrapper #}
{% endblock %}
