@import "../../../asset/ui/src/scss/variables";

.side-by-side {
  display: flex;
  flex-direction: column;
  &__column-item {
    &.invert {
      order: 1;
    }
    @media only screen and (min-width: 900px) {
      h1,h2,h3,h4,h5,h6,p {
        margin-left: 10px;
        padding: 10px;
      }
    }
  }
  @media only screen and (min-width: 900px) {
    flex-direction: row;
    &__column-item {
      width: 50%;
    }
  }
}
