{% extends "layout.html" %}
{% block extraHead %}
<style>
    .overall-score, .content-length, .reading-time {
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
    }
    .overall-score span, .content-length span, .reading-time span {
        font-size: 14px;
        color: #4CAF50; /* Google PageSpeed green */
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: 'Arial', sans-serif;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #121212;
    }
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
</style>
<script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
            fetch('/modules/default-page/report', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: window.location.href })
            })
                .then(response => response.text())
                .then(html => {
                    document.querySelector('#report-results').innerHTML = html;
                })
                .catch(error => console.error('Error:', error));
        }, 1000);
    });
</script>
{% endblock %}

{% block main %}
<section>
    <div class="container inner-page text-page">
        <button class="sidebar-toggle">☰</button>
        <div class="intro">
            <h1 class="header__title">{{ data.page.title }}</h1>
        </div>
        <div class="sidebar-container">
            <div class="sidebar-wrapper">
                <div class="sidebar">
                    <div class="reading-progress-container">
                        <div class="reading-progress-bar"></div>
                    </div>
                    <div hx-trigger="load" id="report-results" class="report-results">
                    </div>
                </div>
                <div class="author-box">
                    <img src="https://new.agenc.io/uploads/attachments/clxac2p8g000zfyijg99egc47-logo.svg" alt="Author's Gravatar"
                         class="author-gravatar">
                    <div class="author-info">
                        <span class="author-title">В.А</span>
                        <span class="author-name">ТехноАгенсио</span>
                    </div>

                    <span id="dark-mode-toggle" class="material-symbols-outlined light-icon"> </span>

                </div>
            </div>
            <div class="post-content">
                {% area data.page, 'main' %}
            </div>
        </div>
        <div class="outro">
        </div>
    </div>
</section>


{% endblock %}
