{% fragment feedBack() %}
<div class="container" id="feedback">
  <section class="footer-form flex">
    <div  class="footer-form__lefts">
      <h3 class="main-title our-client__main-title">Давайте обсудим ваш проект</h3>
    </div>


  </section>
  <div class="text_block_5">Также Вы можете написать Нам в <a class="url" href="https://wa.me/79937328238">WhatsApp</a>, <a class="url" href="https://t.me/agencio">Telegram</a> или <a class="url" href="viber://chat?number=%2B79937328238">Viber</a></div>
</div>
{% endfragment %}
