{% fragment globalNavigation() %}

<div class="nav__inner">
    <div class="nav__hmb__outer">
        <div class="nav__hmb">
            <div class="nav__hmb__line"></div>
            <div class="nav__hmb__line"></div>
            <div class="nav__hmb__line"></div>
        </div>
    </div><!--/nav__hmb__outer-->
    <div class="nav__logo" aria-label="Website Brand Logo">
        <a href="/">Техно-Агенсио</a>
    </div>
    <nav class="nav__core">
        {% for item in data.global.primaryNav %}
        <div class="nav__core__link{% if item.children and item.children|length > 0 %} nav__core__link--sub{% endif %}" {% if item.children and item.children|length > 0 %}data-presub="{{ loop.index }}"{% endif %}>
            <a href="{% if item.type == 'page' %}{{ item._page[0]._url }}{% else %}{{ item.customUrl }}{% endif %}" {% if item.target and item.target[0] == '_blank' %}target="_blank"{% endif %}>
            {{ item.label }}
            </a>
        </div>
        {% endfor %}
    </nav>
    <div class="nav__cta">
        <div class="nav__cta">
            <div class="header-cta">
                <div class="call-me">
                    <a href="contact.html" class="nav__cta__btn">
                        Написать нам
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="nav__sub">
    <div class="nav__sub__exit">
        <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 1L2 6L7 11" stroke="white" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
    </div>
    {% for item in data.global.primaryNav %}
    {% if item.children and item.children|length > 0 %}
    <div class="nav__sub__item" data-sub="{{ loop.index }}">
        <div class="nav__sub__box">
            <ul>
                {% for child in item.children %}
                <li>
                    <a href="{% if child.type == 'page' %}{{ child._page[0]._url }}{% else %}{{ child.customUrl }}{% endif %}" {% if child.target and child.target[0] == '_blank' %}target="_blank"{% endif %}>
                    {{ child.label }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<script>

</script>
{% endfragment %}
