<section data-welcome-widget>
    <div class="welcome">
        <span class="bg1"></span>
        <span class="bg2"></span>
        <div class="container">
            <div class="header__title creative__text--animation-2">
                {{ data.widget.headerTitle }}
                {% for text in data.widget.texts %}
                <span style="--i: {{ loop.index0 }};" data-text="{{ text.text }}">{{ text.text }}</span>
                {% endfor %}
            </div>
            {% if not apos.area.isEmpty(data.widget, 'description') %}
            <p class="description-content">{% area data.widget, 'description' %}</p>
            <div class="header__descr creative__text--animation-4">
                {% for hashtag in data.widget.hashtags %}
                <a href="{{ hashtag._hashtagLink[0].slug }}" style="--i: {{ loop.index0 }};" data-text="{{ hashtag.hashtag }}">{{ hashtag.hashtag }}</a>
                {% endfor %}
            </div>
            {% else %}
            <p class="placeholder">No description available</p>
            {% endif %}

            <a href="{{ data.widget.buttonLink }}" class="header__btn scroll">{{ data.widget.buttonText }}</a>
        </div>
    </div>
</section>
