<section data-welcome-widget>
    <div class="welcome">
        <span class="bg1"></span>
        <span class="bg2"></span>
        <div class="container">
            <div class="header__title creative__text--animation-2">
                {{ data.widget.headerTitle }}
                {% for text in data.widget.texts %}
                <span style="--i: {{ loop.index0 }};" data-text="{{ text.text }}">{{ text.text }}</span>
                {% endfor %}
            </div>
            {% if not apos.area.isEmpty(data.widget, 'description') %}
            <p class="description-content">{% area data.widget, 'description' %}</p>
            {% else %}
            <p class="placeholder">No description available</p>
            {% endif %}

            <a class="header__btn scroll" href="{{ data.widget.buttonLink }}">
            <button>
                <span class="text">{{ data.widget.buttonText }}</span>
                <span class="shimmer"></span>
            </button>
            </a>
        </div>
    </div>
</section>
