<section data-welcome-widget>
    <div class="welcome">
        <span class="bg1"></span>
        <span class="bg2"></span>
        <div class="container">
            <div class="header__title creative__text--animation-1 ">
                Сайты для
                <span style="--i: 0;" data-text="бизнеса">бизнеса</span>
                <span style="--i: 1;" data-text="SEO">SEO</span>
                <span style="--i: 2;" data-text="стартапа">стартапа</span>
                <span style="--i: 3;" data-text="крипты">крипты</span>
            </div>
            <div class="header__descr">
                {% area data.widget, 'description' %}
            </div>
            <a href="{{ data.widget.buttonLink }}" class="header__btn scroll">{{ data.widget.buttonText }}</a>
        </div>
    </div>
</section>